# 设置默认行为，如果需要 Git 自动标准化行结尾
* text=auto

# 源代码
*.liquid text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf

# 脚本
*.sh text eol=lf
*.ps1 text eol=crlf

# 文档
*.md text eol=lf
*.txt text eol=lf

# 配置文件
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf

# 图片
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# 字体
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary

# 视频
*.mp4 binary
*.webm binary

# 其他二进制文件
*.zip binary
*.pdf binary

